body {
	margin-top: 0;
}

a {
    color: inherit;
    outline: none;
}

a:hover {
    color: #01b1e6;
    background-color: #000011;
    text-decoration: none;
}

#topnav {
    background-color: black;
    color: white;
}

#brand {
    font-weight: 700;
    font-size: 2rem;
    line-height: 44px;
}

#brand a:hover {
    color: inherit;
}

#topnav .inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#topnav .shows-nav ul,
#topnav .socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#topnav .shows-nav ul li a,
#topnav .socials ul li a {
    line-height: 44px;
    padding: 9px 20px;
}

#topnav .socials ul li:last-child a {
    padding-right: 0;
}

#chart header {
    font-size: 5.5rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}

.chart-track {
    border-top: 1px solid gray;
    padding: 5px 0;
}

.chart-position-current {
    font-size: 2.9rem;
    margin: -.5rem 0;
    text-align: center;
    font-weight: 700;
}

.chart-position-before,
.chart-position-high-low {
    font-size: 0.775rem;
    color: gray;
    text-align: center;
}

.chart-track-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.chart-track-artist {
    text-align: center;
}

.chart-progression .fa-arrow-up {
    color: greenyellow;
}

.chart-progression .fa-arrow-right {
    color: blue;
}

.chart-progression .fa-arrow-down {
    color: red;
}

.chart-progression .svg-inline--fa {
    height: 100%;
    width: 50%;
}

.licence-icon {
    width: 17px;
    height: 17px;
    background-size: cover;
    display: none;
}

.licence-cc {
    background-image: url( '../images/chooser_cc.png' );
}

.licence-by {
    background-image: url( '../images/chooser_by.png' );
}

.licence-nc {
    background-image: url( '../images/chooser_nc.png' );
}

.licence-nd {
    background-image: url( '../images/chooser_nd.png' );
}

.licence-sa {
    background-image: url( '../images/chooser_sa.png' );
}

.licence-cc.licence-cc-by-nc-nd,
.licence-cc.licence-cc-by-sa,
.licence-cc.licence-cc-by-nd,
.licence-cc.licence-cc-by-nc-sa {
    display: inline-block;
}

.licence-by.licence-cc-by-nc-nd,
.licence-by.licence-cc-by-sa,
.licence-by.licence-cc-by-nd,
.licence-by.licence-cc-by-nc-sa {
    display: inline-block;
}

.licence-nc.licence-cc-by-nc-nd,
.licence-nc.licence-cc-by-nc-sa {
    display: inline-block;
}

.licence-nd.licence-cc-by-nc-nd,
.licence-nd.licence-cc-by-nd {
    display: inline-block;
}

.licence-sa.licence-cc-by-sa,
.licence-sa.licence-cc-by-nc-sa {
    display: inline-block;
}
