<?php

// Web credentials for adding and making changes to the shows
$this->username      = 'admin';
$this->password      = 'admin';

// Upload bits
$this->scpuser       = 'admin';
$this->scppass       = 'admin';
$this->scptargetpath = '/var/www/media';
