<?php header("Content-type: text/html; charset=utf-8"); ?>
<html>
<head>
<title><?php echo $_CONFIG['Chart'] . ' - ' . $_CONFIG['Site Name']; ?></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<?php 
$place = strItem($intReference, 0, 0) * 25;
if(is_array($data) and count($data)>0) {
  foreach($data as $data['track']) {
    $place++;
?>
<hr />
<div id="Place"><span class="Label">Chart Place:</span> <span class="Data"><?php echo $place; ?></span></div>
<?php 
	require("track_template.html");
  }
}
?>
</body>
</html>
