<?php header("Content-type: text/html; charset=utf-8"); ?>
<?php 
if(isset($data['arrTracks'])) {
  $feed[] = $data;
} else {
  $feed = $data;
}
$shows = $feed;
?>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="alternate" type="application/rss+xml" href="http://cchits.net/extra/rss/" title="The extra shows" />
  <title>Extra Shows <?php echo ' - ' . $_CONFIG['Site Name']; ?></title>
  <script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>
</head>
<body>
<?php
if(isset($breadcrumbs) and $breadcrumbs != '') {
  echo "<div class=\"breadcrumbs\">$breadcrumbs</div>\r\n";
}
echo "<h1>Extra Shows <a href=\"/extra/rss\"><img src=\"/images/feed.png\" alt=\"RSS Feed\" /></a></h1>\r\n";
if(count($feed) > 1) {
  echo "<p>This is a list of the last " . count($feed) . " extra shows.</p>";
}
$show_id = 0;
foreach($shows as $show) {
  if($show_id++ > 1) {echo "<hr />\r\n";}
  $intShowID = $show['showid'];
  echo "<div id=\"Show_$intShowID\">\r\n";
  echo '<h2>' . $show['showname'] . "</h2>\r\n";
  echo '<div class="player"><a href="' . $_CONFIG['Base Media URL'] . $_CONFIG['fileBaseExtra'] . '/' . $show['showurl'] . '.mp3" class="htrack" tabindex="1" title="' . $show['showname'] . '" type="audio/mpeg">' . "Play Show</a></div>\r\n";
  $place = 0;
  $votes = 0;
  foreach($show['arrTracks'] as $data['track']) {
    $place++;
    echo '<div id="Place"><span class="Label">Track number:</span> <span class="Data">' . $place . "</span></div>\r\n";
    require("track_template.html");
    $votes = $votes + $data['track']['votesadj'];
    echo "<br />\r\n";
  }
  echo '<a href="/about/voteadjust">Vote average for the show</a>: ' . (intval(($votes / $place) * 10) / 10) . ' (Calculated as ' . $votes . ' votes over ' . $place . " tracks)\r\n";
  echo "</div>\r\n";
}
?>
</body>
</html>
