<?php 

if($data['track']['isnsfw']==1) {
  echo '<div id="NSFW"> ** WARNING ** This track may not be appropriate for work or family listening ** WARNING ** </div>';
}

echo "
<div id=\"Title\">
  <span class=\"Data\">
    \"<a href=\"{$data['track']['track']['url']}\">{$data['track']['track']['name']}</a>\" by \"<a href=\"{$data['track']['artist']['url']}\">{$data['track']['artist']['name']}</a>\"
  </span>
</div>
<div id=\"License\">
  <span class=\"Label\">Licensed:</span>
  <span class=\"Data\">{$data['track']['license']}</span>
</div>
<div id=\"Votes\">";

if($data['track']['showadj'] > 0) {
  echo "
  <span class=\"Label\">Adjusted Votes:</span>
  <span class=\"Data\">
    {$data['track']['votesadj']} (<a href=\"/about/voteadjust\">{$data['track']['votes']} votes adjusted due to {$data['track']['showadj']} influencing shows</a>)
  </span>";
} else {
  echo "
  <span class=\"Label\">Votes:</span>
  <span class=\"Data\">{$data['track']['votes']}</span>";
} 

if($data['track']['I_Voted']!="TRUE") {
  $vote_url=$_CONFIG['Base URL'] . '/vote/' . $data['track']['trackid'];
  if(isset($data['showid'])) {
    $vote_url .= '/' . $data['showid'];
  } elseif(isset($intShowID)) {
    $vote_url .= '/' . $intShowID;
  }
  echo "
  <span class=\"Action\">
    <form action=\"$vote_url\" method=\"post\">
      <input type=\"submit\" name=\"go\" value=\"I like it\">
    </form>
  </span>";
}

echo "</div>";

if($data['track']['showcount'] > 0) {
  if($data['track']['showcount'] > 1) {
    $multiple = "s";
  } else {
    $multiple = "";
  }
  echo "<div id=\"Shows\">This track was played on {$data['track']['showcount']} show{$multiple}:";
  foreach($data['track']['shows'] as $show) {
    if($show['votes'] == 0) {
      echo "<div id=\"Show_{$show['id']}\"><a href=\"{$show['url']}\">{$show['name']}</a> (0 non-adjusted votes)</div>\r\n";
    } else {
      if($show['votes'] > 1) {
        $multiple = "s";
      } else {
        $multiple = "";
      }
      echo "<div id=\"Show_{$show['id']}\"><a href=\"{$show['url']}\">{$show['name']}</a> ({$show['votes']} non-adjusted vote{$multiple} = {$show['proportion']} overall votes for this track)</div>\r\n";
    }
  }
  echo "</div>";
}